# Default ignored files
/shelf/
/workspace.xml
# Datasource local storage ignored files
/../../../../../../../../../../../../:\Users\glebv\OneDrive - University of Cambridge\Documents\Uni Work\1B\Coursework\IDP\controllers\pythontroller\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
